<section id="addgroup">
    <div class="container">
        <div class="row">
          <div>
            <div class="title d-flex justify-content-between">
              <h5 class="p-3">Add Student</h5>
              <div class="icon">
                <i class="fa-solid fa-check fa-1x p-4"></i>
                <a (click)="onNoClick()">
                  <i class="fa-solid fa-xmark fa-1x p-4"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="gap-5 p-5">
            <div class="col-md-12">
              <div class="input-group input-group-lg mb-3">
                <span class="input-group-text bg" id="inputGroup-sizing-lg"
                  >Name</span
                >
                <input
                  type="text"
                  class="form-control form-control-sm"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-lg"
                />
              </div>
            </div>
            <div class="col-md-12 py-4">
              <div class="input-group input-group-lg">
                <span class="input-group-text bg" id="inputGroup-sizing-lg"
                  >Phone</span
                >
                <input
                  type="tel"
                  class="form-control form-control-sm"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-lg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
