<section id="delete-dialog py-5 shadow-lg">
  <div class="container">
    <div class="row">
      <div class="text-center py-4">

        <div class="w-50 m-auto">
          <img
            src="../../../../../../../assets/images/delete.svg"
            class="w-25 m-auto"
            alt=""
          />
        </div>
        <div class="text-center">
          <p class="m-auto py-3 fs-4">
            Are you Sure Delete This Item?
            <span class="text-danger">{{data.name+' '+fromGroup}}</span>
          </p>
          <p class="text-muted w-75 m-auto">
            If you delete this item you lost it for ever please make sure
          </p>
        </div>
        <div class="py-3 d-flex justify-content-between w-50 m-auto">
          <button (click)="onNoClick()" class="btn butt-cancel px-4 py-2">
            Cancel
          </button>

          <button
            [mat-dialog-close]="data"
            class="btn butt-loader py-2 shadow-lg px-4 btn-out"
          >
            Yes <i class="fa-solid fa-arrow-right text-muted fw-light"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
