@import "../abstracts/variables";

#side-bar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-right: $border-cardWidth;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  transition: all 600ms ease-in-out;
  div:first-child {
    border-bottom: $border-cardWidth;
    a {
      border-radius: 12px;
      padding: 2px 5px;
      color: black;
    }
    a:hover {
      background-color: antiquewhite;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li,
  .ico-item {
    cursor: pointer;
    display: flex;
    position: relative;
    // justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    gap: 0.5rem;
    border-bottom: $border-cardWidth;
    svg {
      background-color: antiquewhite;
      border-radius: 12px;
      padding: 2px 5px;
      color: black;
      width: 40px;
      height: 40px;
    }
  }
  li:hover::before,
  .ico-item:hover::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: black;
    right: 0;
    top: 0;
  }
  .ico-item {
    position: relative;
    border-top: $border-cardWidth;
  }
}
#instructor-home,
#quiz-instructor {
  .container {
    padding: 30px;
    .row {
      .col-md-6,
      .col-md-5 {
        border-radius: $border-reduis;
        border: $border-cardWidth;
        padding: $padding-card;
      }
      .col-md-6 {
        .quiz-header {
          display: flex;
          justify-content: space-between;
        }
        .quiz-card {
          border-radius: $border-reduis;
          border: $border-cardWidth;
          overflow: hidden;
          margin-bottom: 15px;

          .col-md-3 {
            background-color: $primary-color;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            img {
              width: 80%;
            }
          }
          .col-md-9 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p {
              font-size: 15px;
              margin-bottom: 0;
            }
          }
        }
      }
      .col-md-5 {
        .student-header {
          display: flex;
          justify-content: space-between;
        }
        .student-card {
          border-radius: $border-reduis;
          border: $border-cardWidth;
          overflow: hidden;
          margin-bottom: 15px;
          .col-md-3 {
            img {
              width: 100%;
            }
          }
          .col-md-9 {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }
      }
    }
  }
}
#instructor-home {
  .quiz-card:hover,
  .student-card:hover {
    background-color: $bs-table-hover-bg;
  }
}
#quiz-instructor {
  .quiz-card {
    border-radius: $border-reduis;
    border: $border-cardWidth;
    overflow: hidden;
    margin-bottom: 15px;
    padding: 10px;
  }
  .quiz-card {
    .quiz-card:hover {
      background-color: $bs-table-hover-bg;
    }
  }
  .student-card:hover {
    background-color: $bs-table-hover-bg;
  }
}
#quiz-detalis{
  .container{
    padding: 30px;
  .row{
    .col-md-6{
      border-radius: $border-reduis;
      border: $border-cardWidth;
      padding: $padding-card;
    }
    .float-end{
      button{
        background-color: #0d1321;
        color: #ffffff;
        border-radius: 10px;
        padding:  0px 20px;
        margin-right: 20px;
      span i{
        color: #ffffff;
      }
      }
    }
  }
}
}

#quiz-created {
  border-radius: 20px;
  padding: 15px 25px;
  .borders {
    border-radius: 60px;
    border: 2px black solid;

    div {
      background-color: $primary-color;
      border-top-left-radius: 60px;
      border-bottom-left-radius: 60px;
      height: auto;
    }
  }
}

#nav-bar {
  height: 82.9px;
  display: flex;
  flex-direction: row;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  transition: all 600ms ease-in-out;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  // padding: 12.5px 0px;
  .green-text {
    color: $sec-color;
  }
  .line {
    // border-right: $border-cardWidth;
  }
  .row {
    .col-md-8 {
      padding: 22.5px;
    }
    .col-md-4 {
      border-left: $border-cardWidth;
    }
  }

}

