<section id="reset-pass">
  <div class="container-fluid">
    <div class="row py-5">
      <div class="col-md-6 d-flex justify-content-center">
        <div class="inputs-auth">
          <div class="text-center my-3">
            <img
              src="../../../../../assets/images/logo.png"
              class="w-75"
              alt=""
            />
          </div>
          <div class="paragh">
            <h4>Continue your learning journey with QuizWiz!</h4>
          </div>
          <form
            [formGroup]="resetPassword"
            (ngSubmit)="onsubmit(resetPassword)"
          >
            <h2 class="text-white text-center">Reset Password</h2>
            <div class="input-group flex-nowrap mb-3">
              <span class="input-group-text py-2" id="addon-wrapping"
                ><i class="fa-regular fa-envelope"></i
              ></span>
              <input
                type="email"
                class="form-control py-2"
                formControlName="email"
                placeholder="Enter Your Email"
                aria-label="email"
                aria-describedby="addon-wrapping"
              />
            </div>
            <small
              class="text-danger p-2"
              *ngIf="
                resetPassword.controls.email.errors &&
                resetPassword.controls.email.touched
              "
            >
              <span
                *ngIf="resetPassword.get('email')?.getError('required')"
                class="mb-2"
              >
                Email is required</span
              >
              <span *ngIf="resetPassword.get('email')?.getError('email')"
                >Email is invalid</span
              >
            </small>
            <div class="input-group flex-nowrap mb-3">
              <span class="input-group-text py-2" id="addon-wrapping"
                ><i class="fa-regular fa-envelope"></i
              ></span>
              <input
                type="text"
                class="form-control py-2"
                formControlName="seed"
                placeholder="Enter Your OTP"
                aria-label="OTP"
                aria-describedby="addon-wrapping"
              />
            </div>
            <small
              class="text-danger p-2"
              *ngIf="
                resetPassword.controls.seed.errors &&
                resetPassword.controls.seed.touched
              "
            >
              <span
                *ngIf="resetPassword.get('seed')?.getError('required')"
                class="mb-0"
              >
                OTP is required</span
              >
              <span
                *ngIf="resetPassword.get('seed')?.getError('seed')"
                class="mb-0"
                >OTP is invalid</span
              >
            </small>
            <div class="input-group flex-nowrap mb-3">
              <span class="input-group-text py-2" id="addon-wrapping"
                ><i class="fa-solid fa-lock"></i>
              </span>
              <input
                [type]="hide ? 'password' : 'text'"
                class="form-control py-2"
                formControlName="password"
                placeholder="Enter Your password"
                aria-label="password"
              />

              <span (click)="hide = !hide" class="eye-icon pointer"
                ><i
                  class="fa-solid pointer"
                  [class]="hide ? 'fa-eye-slash' : 'fa-eye'"
                ></i
              ></span>
            </div>
            <small
              *ngIf="
                resetPassword.get('password')?.errors &&
                resetPassword.get('password')?.touched
              "
              class="text-danger mb-3"
            >
              <span *ngIf="resetPassword.get('password')?.errors?.['required']"
                >password is required</span
              >
              <span *ngIf="resetPassword.get('password')?.errors?.['pattern']"
                >Password must have capital,small letters,sympols,number and
                pass length(8-16)</span
              >
            </small>
            <div class="input-group flex-nowrap mb-3">
              <span class="input-group-text py-2" id="addon-wrapping"
                ><i class="fa-solid fa-lock"></i>
              </span>
              <input
                [type]="hide ? 'password' : 'text'"
                class="form-control py-2"
                formControlName="confirmPassword"
                placeholder="confirm Your password"
                aria-label="password"
              />

              <span (click)="hide = !hide" class="eye-icon pointer"
                ><i
                  class="fa-solid pointer"
                  [class]="hide ? 'fa-eye-slash' : 'fa-eye'"
                ></i
              ></span>
            </div>
            <small
              *ngIf="
                resetPassword.get('confirmPassword')?.errors &&
                resetPassword.get('confirmPassword')?.touched
              "
              class="text-danger mb-3"
            >
              <span
                *ngIf="resetPassword.get('confirmPassword')?.errors?.['required']"
                >confirmPassword is required</span
              >
              <span
                *ngIf="resetPassword.get('confirmPassword')?.errors?.['pattern']"
                >confirmPassword must have capital,small letters,sympols,number
                and pass length(8-16)</span
              >
              <span
                *ngIf="resetPassword.get('confirmPassword')?.errors?.['invalid']"
                >password and confirm password not mutch</span
              >
            </small>
            <div>
              <button class="btn btn-primary my-3">
                Reset <span><i class="fa-solid fa-check"></i></span>
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <img src="../../../../../assets/images/icon.png" class="w-75" alt="" />
      </div>
    </div>
  </div>
</section>
