<section id="reset-pass">
  <div class="container-fluid h-100 p-4">
    <div class="row h-100">
      <div class="col-md-6">
        <div class="col-md-3">
          <div>
            <img src="../../../../../assets/images/Logo-white.svg" alt="" />
          </div>
        </div>
        <div class="left-side mt-5">
          <div class="content">
            <h2>Reset Password</h2>

            <form
              class="mt-5"
              [formGroup]="resetPassword"
              (ngSubmit)="onsubmit(resetPassword)"
            >
              <label class="form-label">Enter Your Email</label>
              <div class="input-group flex-nowrap mb-2">
                <span class="input-group-text py-2" id="addon-wrapping"
                  ><i class="fa-regular fa-envelope"></i
                ></span>
                <input
                  type="email"
                  class="form-control py-2"
                  formControlName="email"
                  placeholder="Enter Your Email"
                  aria-label="email"
                  aria-describedby="addon-wrapping"
                />
              </div>
              <div
                class="text-danger p-2"
                *ngIf="
                  resetPassword.controls.email.errors &&
                  resetPassword.controls.email.touched
                "
              >
                <span
                  *ngIf="resetPassword.get('email')?.getError('required')"
                  class="mb-2"
                >
                  Email is required</span
                >
                <span *ngIf="resetPassword.get('email')?.getError('email')"
                  >Email is invalid</span
                >
              </div>
              <label class="form-label">OTP</label>
              <div class="input-group flex-nowrap mb-2">
                <span class="input-group-text py-2" id="addon-wrapping"
                  ><i class="fa-regular fa-envelope"></i
                ></span>
                <input
                  type="text"
                  class="form-control py-2"
                  formControlName="otp"
                  placeholder="Enter Your OTP"
                  aria-label="OTP"
                  aria-describedby="addon-wrapping"
                />
              </div>
              <div
                class="text-danger p-2"
                *ngIf="
                  resetPassword.controls.otp.errors &&
                  resetPassword.controls.otp.touched
                "
              >
                <span
                  *ngIf="resetPassword.get('seed')?.getError('required')"
                  class="mb-0"
                >
                  OTP is required</span
                >
                <span
                  *ngIf="resetPassword.get('otp')?.getError('otp')"
                  class="mb-0"
                  >OTP is invalid</span
                >
              </div>
              <label class="form-label">Password</label>
              <div class="input-group flex-nowrap mb-2">
                <span class="input-group-text py-2" id="addon-wrapping"
                  ><i class="fa-solid fa-key"></i>
                </span>
                <input
                  class="form-control py-2"
                  formControlName="password"
                  placeholder="Enter Your password"
                  aria-label="password"
                />
              </div>
              <div
                *ngIf="
                  resetPassword.get('password')?.errors &&
                  resetPassword.get('password')?.touched
                "
                class="text-danger mb-3"
              >
                <span
                  *ngIf="resetPassword.get('password')?.getError('required')"
                  >password is required</span
                >
                <p *ngIf="resetPassword.get('password')?.getError('pattern')">
                  password must contain charachters or numbers, min 3 and max 30
                </p>
              </div>
              <div>
                <button class="btn reset-btn my-3">
                  Reset <span><i class="fa-solid fa-circle-check"></i></span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="image">
          <img src="../../../../../assets/images/BGImage.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
