@import "../../../../../../../../assets/styles/abstracts/variables";
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  .mat-mdc-form-field {
    margin-top: 16px;
  }
  .timer{
    background-color: $primary-color;
    padding: 0 20px;
    border-radius: 5px;
  
    p{
        font-size: 40px;
        color: black;
    }
  }