<section id="quiz-detalis">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex">
          <div>
            <p style="font-size: 16px; color: #000000; font-weight: 500">
              Quizzes
            </p>
          </div>
          <div>
            <a>
              <i class="fa-solid fa-angles-right" style="color: #c5d86d"></i
            ></a>
          </div>
          <div>
            <p style="font-weight: 500">Data structures quiz one</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div>
          <h3>Data Structures Quiz One</h3>
        </div>
        <div class="d-flex gap-2">
          <div>
            <span><i class="fa-solid fa-calendar-days mx-2"></i></span>
            <span>12 / 03 / 2023</span>
          </div>
          <div>
            <span><i class="fa-solid fa-clock mx-2"></i></span>
            <span>09 : 00</span>
          </div>
        </div>
        <form class="py-3 w-75">
          <div>
            <div class="input-group input-group-default mb-3">
              <span
                class="input-group-text bg"
                style="background-color: #ffeddf"
                id="inputGroup-sizing-default"
                >Duration:</span
              >
              <input
                type="text"
                class="form-control form-control-sm"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
                placeholder="10 minutes"
              />
            </div>
          </div>
          <div class="input-group input-group-default mb-3">
            <span
              class="input-group-text bg"
              style="background-color: #ffeddf"
              id="inputGroup-sizing-default"
              >Number of questions:</span
            >
            <input
              type="text"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm"
              placeholder="15"
            />
          </div>
          <div class="input-group input-group-default mb-3">
            <span
              class="input-group-text bg"
              style="background-color: #ffeddf"
              id="inputGroup-sizing-default"
              >Score per question:</span
            >
            <input
              type="text"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm"
              placeholder="1"
            />
          </div>
          <div class="mb-3">
            <span
              class="input-group-text bg"
              style="background-color: #ffeddf"
              id="inputGroup-sizing-default"
              >Description:</span
            >
            <textarea rows="5" style="overflow: hidden; width: 100%">
                Lorem ipsum aset amet consectedur im nascsa assadqw assacsc aidwqdjv asdewfas 
                qwdass Lorem ipsum aset amet consectedur im nascsa assadqw assacsc aidwqdjv
            </textarea>
          </div>
          <div class="input-group input-group-default mb-3">
            <span
              class="input-group-text bg"
              style="background-color: #ffeddf"
              id="inputGroup-sizing-default"
              >Question bank used:</span
            >
            <input
              type="text"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm"
              placeholder="Bank one"
            />
          </div>
          <div class="d-flex gap-2">
            <span><i class="fa-solid fa-square-check fa-2x"></i></span>
            <h5>Randomize questions</h5>
          </div>
        </form>
        <div class="float-end">
          <button>
            <span><i class="fa-solid fa-pen"></i></span>
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
