<section id="instructor-home">
    <div class="container">
        <div class="row gx-3">
            <div class="col-md-6 me-3">
                <div class="m-3">
                    <div class="quiz-header">
                        <h4>Upcoming 5 quizzes</h4>
                        <p>Quiz directory</p>
                    </div>
                    <div class="quiz-card">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="../../../../../../assets/images/img.svg" alt="">
                            </div>
                            <div class="col-md-9 p-2 ">
                               <div>
                                <h5>Introduction to computer programming</h5>
                                <p>12 / 03 / 2023 | 12 / 03 / 2023</p>
                               </div>
                               <div class="d-flex justify-content-between pe-3">
                                <p>No. of student’s enrolled: 17</p>
                                <a >Open <i class="fa-solid fa-circle-arrow-right" style="color: #C5D86D;"></i></a>
                               </div>
                            </div>
                        </div>

                    </div>
                    <div class="quiz-card">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="../../../../../../assets/images/img.svg" alt="">
                            </div>
                            <div class="col-md-9 p-2 ">
                               <div>
                                <h5>Introduction to computer programming</h5>
                                <p>12 / 03 / 2023 | 12 / 03 / 2023</p>
                               </div>
                               <div class="d-flex justify-content-between pe-3">
                                <p>No. of student’s enrolled: 17</p>
                                <a >Open <i class="fa-solid fa-circle-arrow-right" style="color: #C5D86D;"></i></a>
                               </div>
                            </div>
                        </div>

                    </div>
                    <div class="quiz-card">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="../../../../../../assets/images/img.svg" alt="">
                            </div>
                            <div class="col-md-9 p-2 ">
                               <div>
                                <h5>Introduction to computer programming</h5>
                                <p>12 / 03 / 2023 | 12 / 03 / 2023</p>
                               </div>
                               <div class="d-flex justify-content-between pe-3">
                                <p>No. of student’s enrolled: 17</p>
                                <a >Open <i class="fa-solid fa-circle-arrow-right" style="color: #C5D86D;"></i></a>
                               </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="m-3">
                    <div class="student-header">
                        <h4>Top 5 Students</h4>
                        <a>All students &rarr;</a>
                    </div>
                    <div class="student-card">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="../../../../../../assets/images/user img.svg" alt="">
                            </div>
                            <div class="col-md-9 p-0">
                               <div>
                                <h5>Emmanuel James</h5>
                                <p>12 / 03 / 2023 | 12 / 03 / 2023</p>
                               </div>
                               <div class="pe-4 fs-4">
                                <i class="fa-solid fa-circle-arrow-right"></i>
                               </div>

                            </div>
                        </div>

                    </div>
                    <div class="student-card">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="../../../../../../assets/images/user img (1).svg" alt="">
                            </div>
                            <div class="col-md-9 p-0">
                                <div>
                                 <h5>Emmanuel James</h5>
                                 <p>12 / 03 / 2023 | 12 / 03 / 2023</p>
                                </div>
                                <div class="pe-4 fs-4">
                                 <i class="fa-solid fa-circle-arrow-right"></i>
                                </div>

                             </div>
                        </div>

                    </div>
                    <div class="student-card">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="../../../../../../assets/images/user img (2).svg" alt="">
                            </div>
                            <div class="col-md-9 p-0">
                                <div>
                                 <h5>Emmanuel James</h5>
                                 <p>12 / 03 / 2023 | 12 / 03 / 2023</p>
                                </div>
                                <div class="pe-4 fs-4">
                                 <i class="fa-solid fa-circle-arrow-right"></i>
                                </div>

                             </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

