<section id="quiz-created" class="py-2 px-5 rounded-5">
  <div class="container">
    <div class="row">
      <div>
        <div class="w-50 m-auto py-2">
          <img
            src="../../../../../../../../../../assets/images/check-symbol-4797.svg"
            class="w-25 m-auto"
            alt=""
          />
        </div>
        <h4 class="m-auto text-center py-2 fw-bold">
          Quiz joined successfully
        </h4>
        <div
          class="d-flex justify-content-between my-2 borders w-100 m-auto text-center"
        ></div>
        <div class="m-auto text-center my-4">
          <button
            (click)="onNoClick()"
            class="btn butt-loader px-5 py-2 rounded-5"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
