// @import url(../../../../../../../assets/styles/abstracts/_variables.scss);
@import url(../../../../../../../assets/styles/abstracts/_variables.scss);
#log-out {
  align-content: center;
  margin: auto;
  padding: 20px 20px;
  background-color: blanchedalmond;
  position: relative;
 
}

// .bg-c{
//     background-color: #ffeddf !important;

// }