<section id="quizes">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div (click)="JoinQuizDialoug()" class="py-3 d-flex mx-0 gap-3">
          <a
            class="p-4 quiz-header student-card text-center text-darkColor px-5 mx-2"
          >
            <app-timer-quiz-ico></app-timer-quiz-ico>
            <h5 class="mt-2">Join Quiz</h5>
          </a>
        </div>
      </div>
    </div>
    <div class="row mx-2 gap-3">
      <div class="col-md-6 quiz-header">
        <div class="m-3 quiz">
          <div>
            <h4>Upcoming quizzes</h4>
          </div>
          <div class="p-0 quiz-header" *ngFor="let quiz of quizzes">
            <div class="row">
              <div class="col-md-3">
                <img src="../../../../../../assets/images/img.svg" alt="" />
              </div>
              <div class="col-md-9 p-2">
                <div>
                  <h5>{{ quiz.title }}</h5>
                  <p>{{ quiz.schadule | date : "yyyy-MM-dd" }}</p>
                </div>
                <div class="d-flex justify-content-between pe-3">
                  <p>Code: {{ quiz.code }}</p>
                  <a
                    >Open
                    <i
                      class="fa-solid fa-circle-arrow-right"
                      style="color: #c5d86d"
                    ></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 quiz-header">
        <div class="m-3 quiz">
          <div>
            <h4>Completed Quizzes</h4>
            
            <a
              >Results
              <i
                class="fa-solid fa-circle-arrow-right"
                style="color: #c5d86d"
              ></i
            ></a>
          </div>
          <div class="">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Group name</th>
                  <th scope="col">No. of persons in group</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
              <tbody>
                <hr />
                <tr>
                  <td scope="row">Assembly language</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>12 /02/ 2023</td>
                </tr>
                <hr />
                <tr>
                  <td scope="row">Assembly language</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>12 /02/ 2023</td>
                </tr>
                <hr />
                <tr>
                  <td scope="row">Assembly language</td>
                  <td>Larry the Bird</td>
                  <td>Larry the Bird</td>
                  <td>12 /02/ 2023</td>
                </tr>
              </tbody>
            </table>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
