<section id="addgroup">
  <div class="container">
    <div class="row">
      <div>
        <div class="title d-flex justify-content-between">
          <h5 class="p-3">Set up a new Group</h5>
          <div class="icon">
            <i class="fa-solid fa-check fa-1x p-4"></i>
            <a (click)="onNoClick()">
              <i class="fa-solid fa-xmark fa-1x p-4"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="gap-5 p-5">
        <div class="col-md-12">
          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text bg" id="inputGroup-sizing-lg"
              >Group Name</span
            >
            <input
              type="text"
              class="form-control form-control-sm"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-lg"
            />
          </div>
        </div>
        <div class="col-md-12 py-4">
          <div class="input-group input-group-lg">
            <span class="input-group-text bg" id="inputGroup-sizing-lg"
              >List Students</span
            >
            <select class="form-select" id="inputGroupSelect01">
              <option value=""></option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
