.loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 20px 0 #fff, -20px 0 #fff;
  position: absolute;
  top: -5px;
  left: -10px;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #FFF2;
    box-shadow: 20px 0 #FFF2, -20px 0 #FFF;
  }
  50% {
    background-color: #FFF;
    box-shadow: 20px 0 #FFF2, -20px 0 #FFF2;
  }
  100% {
    background-color: #FFF2;
    box-shadow: 20px 0 #FFF, -20px 0 #FFF2;
  }
}
