<section id="nav-bar">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-md-8 d-flex justify-content-between line m-auto text-center"
      >
        <h3 class="fs-4 fw-bold">Dashboard</h3>
        <div class="border rounded-5 py-1 px-4 pointer">
          <h2 class="fs-5 m-auto fw-bold"*ngIf="role=='Instructor'" (click)="startQuiz()">
            <i class="fa-solid fa-stopwatch"></i> New Quiz
          </h2>
          <h2 class="fs-5 m-auto fw-bold" *ngIf="role=='Student'">
            Group: {{groupName}}
          </h2>
        </div>

      </div>
      <div class="col-md-4 d-flex justify-content-between align-items-center">
        <div class="">
          <h4 class="mb-0">{{ firstName +' '+ lastName}}</h4>
          <span class="green-text">{{ role }}</span>
        </div>
        <div class="dropdown mx-2">
          <a
            class="btn btn-secondary dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          ></a>

          <ul class="dropdown-menu mt-4">
            <li>
              <a
                class="dropdown-item pointer"
                [routerLink]="['/dashboard/edit-profile']"
              >
                <span><i class="fa-solid fa-user me-2"></i></span> Edit Profile
              </a>
            </li>
            <li>
              <a (click)="openDialogChange()" class="dropdown-item pointer">
                <span><i class="fa-solid fa-unlock me-2"></i></span>
                Change Password
              </a>
            </li>

            <li>
              <a (click)="openDialog()" class="dropdown-item pointer">
                <span><i class="fa-solid fa-right-from-bracket me-2"></i></span>
                Log Out
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
