<section class="">
    <div class="container-fluid h-100 p-4">
      <div class="row h-100">
        <div class="col-md-6">
          
            <div class="col-md-3">
              <div>
                <img src="../../../../../assets/styles/images/Logo-white.svg" alt="" />
              </div>
           
          </div>
         <div class="row mt-5">
          <div class="content ">
              <h2>Continue your learning journey with QuizWiz!</h2>
              <div class="two-sign">
                <div class="sign">
                    <a >
                        <i class="fa-solid fa-user"></i>
                        <h3>Sign in</h3>
                    </a>
                </div>
                <div class="sign">
                    <a >
                        <i class="fa-solid fa-user icon"></i>
                        <h3>Sign up</h3>
                    </a>
                </div>
              </div>
              
              <form [formGroup]="loginForm" (submit)="onLogin(loginForm)">
                <div class="row gy-4 mt-3">
                  <div class="col-md-12">
                      <label for="">Registered email address</label>
                      <input  type="text" class="form-control" placeholder="Enter Your Email" formControlName="email">
                  </div>
                  <div class="col-md-12 position-relative">
                      <label for="">Password</label>
                      <input type="password" class="form-control" placeholder="Enter Your Password" formControlName="password">
                      <div class="eye-icon">
                        <i class="fa-solid fa-eye-slash"></i>
                      </div>
                    </div>
                  <div class="eye-icon">
                    <i class="fa-solid fa-eye-slash"></i>
                  </div>
                  <div class="col-md-6">
                      <button class="">Sign in</button>
                  </div>
                  <div class="col-md-6 text-end">
                      <a class="" routerLink="/auth/forgetPassword">Forget Password</a>
                  </div>
                </div>
                   
              
              </form>
            </div>
         </div>
        </div>
        <div class="col-md-6  ">
            <div class="image">
                <img src="../../../../../assets/styles/images/BGImage.svg" alt="">
            </div>
         
        </div>
      </div>
    </div>
  </section>
