<section class="">
    <div class="container-fluid h-100 p-4">
      <div class="row h-100">
        <div class="col-md-6">
          
            <div class="col-md-3">
              <div>
                <img src="../../../../../assets/styles/images/Logo-white.svg" alt="" />
              </div>
           
          </div>
         <div class="left-side mt-5">
          <div class="content ">
              <h2>Continue your learning journey with QuizWiz!</h2>
              <div class="two-sign">
                <div class="sign pointer" routerLink="/auth/login" routerLinkActive="active">
                    
                        <div class="text-center"><i class="fa-solid fa-user" style="color: #fff; "></i></div>
                        <h3>Sign in</h3>
                    
                </div>
                <div class="sign pointer" routerLink="/auth/register" routerLinkActive="active">
                    <div class="text-center"><i class="fa-solid fa-user-plus" style="color: #fff; "></i></div>
                        <h3>Sign up</h3>
                   
                </div>
              </div>
              
              <form [formGroup]="loginForm" (submit)="onLogin(loginForm)">
                <div class=" gy-4 mt-3">
                  <div class="col-md-12">
                      <label for="">Registered email address</label>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3"><i class="fa-solid fa-envelope" style="color: #FFf;"></i></span>
                        <input type="email" class="form-control"formArrayName='email'  placeholder="email" aria-describedby="basic-addon3">
                      </div>
                  </div>
                  <div class="col-md-12 position-relative">
                      <label for="">Password</label>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3"><i class="fa-solid fa-key" style="color: #FFf;"></i></span>
                        <input type="password" formArrayName="password" class="form-control" id="basic-url" placeholder="password" aria-describedby="basic-addon3">
                      </div>
                    </div>
                
                  <div class="col-md-12 d-flex justify-content-between align-items-center">
                      <button type="submit">Sign in</button>
                      <a routerLink="/auth/forget-pass">Forget Password?</a>
                  </div>
                  
                </div>
                   
              
              </form>
            </div>
         </div>
        </div>
        <div class="col-md-6  ">
            <div class="image">
                <img src="../../../../../assets/styles/images/BGImage.svg" alt="">
            </div>
         
        </div>
      </div>
    </div>
  </section>
