<section id="groups">
  <div class="container">
    <div
      class="border rounded-5 py-2 mt-3 pointer text-center col-md-2 m-auto me-5"
    >
      <h2 class="fs-5 m-auto" (click)="openDialogAdd()">
        <span class="i-circle px-1"
          ><i class="fa-solid fa-plus fw-bold"></i
        ></span>
        Add group
      </h2>
    </div>
    <div class="row m-4 p-3 groups-card">
      <div class="alert alert-warning" role="alert" *ngIf="Groupdata.length ==0">
        This is a warning No Data Found, Please add new qroup
      </div>
      <div class="col-md-6" *ngFor="let group of Groupdata">
        <div
          class="groups-card p-2 mx-2 d-flex justify-content-between align-items-center"
        >
          <div>
            <h5>
              Group: <span>{{ group.name }}</span>
            </h5>
            <p>
              No. of student: <span>{{ group.students.length }}</span>
            </p>
          </div>
          <div>
            <a (click)="openDialogEdit(group._id)">
              <i class="fa-regular fa-pen-to-square px-2 fs-5 editHover"></i
            ></a>
            <a (click)="openDialogDelete(group)">
              <i class="fa-solid fa-trash fs-5 deleteHover"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
