<section id="questions-table">
  <div class="container">
    <div
      class="border rounded-5 py-2 mt-3 pointer text-center col-md-2 m-auto me-5"
    >
      <h2 class="fs-5 m-auto" (click)="openDialogAddEdit()">
        <span class="i-circle px-1"
          ><i class="fa-solid fa-plus fw-bold"></i
        ></span>
        Add Question
      </h2>
    </div>
    <div class="row groups-card m-auto col-md-11 mt-3 p-3">
      <div class="d-flex justify-content-between my-2">
        <h3 class="py-2">Bank Of Questions</h3>
        <div class="py-2 d-flex pointer">
          <div class="input-group mb-3 mx-2">
            <label class="input-group-text bg-beigeColor" for="inputGroupSelect01"
              >Category type</label
            >
            <select
              class="form-select"
              id="inputGroupSelect01"
              [(ngModel)]="typeOfQuestion"
              (change)="serach()"
            >
              <option selected value="FE">FE</option>
              <option value="BE">BE</option>
              <option value="DO">DO</option>
            </select>
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text bg-beigeColor" for="inputGroupSelect01"
              >Difficulty</label
            >
            <select
              class="form-select"
              id="inputGroupSelect01"
              [(ngModel)]="difficultyQuestion"
              (change)="serach()"
            >
              <option selected value="easy">easy</option>
              <option value="medium">medium</option>
              <option value="hard">hard</option>
            </select>
          </div>

        </div>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Question Title</th>
            <th scope="col">Question Desc</th>
            <th scope="col">Question difficulty level</th>
            <th scope="col">Category type</th>
            <th scope="col">status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <hr />
          <ng-container *ngFor="let question of questionsResponse">
            <tr>
              <td scope="row">{{ question.title | trimDescption : 20 }}</td>
              <td>{{ question.description | trimDescption : 10 }}</td>
              <td>{{ question.difficulty }}</td>
              <td>{{ question.type }}</td>
              <td class="text-center" >
                <span [ngClass]="question.status=='active'?'activeStatus':'inActiveStatus'"> {{ question.status }}</span>
              </td>
              <td class="m-auto text-center pointer">
                <a (click)="openViewDialog(question._id, true)"
                  ><i class="fa-solid fa-eye fs-5 i-org pointer"></i
                ></a>
                <a (click)="openEditDialog(question._id)"
                  ><i
                    class="fa-solid fa-pen-to-square i-org px-3 fs-5 pointer"
                  ></i
                ></a>
                <a (click)="openDialogDelete(question)">
                  <i class="fa-solid fa-trash-can fs-5 i-org pointer"></i>
                </a>
              </td>
            </tr>
            <hr />
          </ng-container>
          <div class="alert alert-warning" role="alert" *ngIf="questionsResponse.length ==0">
            This is a warning No Data Found
          </div>
        </tbody>
      </table>
    </div>
  </div>
</section>
