<section id="quizes">
  <div class="container-fluid">

    <div class="row mx-2 mt-4 quiz-header">
      <div class="mt-3">
        <h4>Upcoming quizzes</h4>
      </div>
      <div class="col-md-6"*ngFor="let quiz of quizzes">
        <div class="m-3 quiz">

          <div class="p-0 quiz-header" >
            <div class="row">
              <div class="col-md-3 bg-beigeColor d-flex justify-content-center align-items-center">
                <img src="../../../../../../assets/images/img.svg" alt="" />
              </div>
              <div class="col-md-9 p-2">
                <div>
                  <h5>{{ quiz.title }}</h5>
                  <p>{{ quiz.schadule | date : "yyyy-MM-dd" }}</p>
                </div>
                <div class="d-flex justify-content-between pe-3">
                  <p>Code: {{ quiz.code }}</p>
                  <a [cdkCopyToClipboard]="quiz.code" (click)="copyCode()"
                    >
                    <i
                      class="fa-solid fa-copy fs-2 fw-bold pointer"
                      style="color: #c5d86d"
                    ></i
                  ></a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
