$bg-color:#0D1321;
$primary-color:#FFEDDF;
$sec-color:#C5D86D;
$light-grey-color: #ffffff;
$border-reduis: 10px;
$border-cardWidth: 1px solid rgba(0, 0, 0, 0.20);
$padding-card: 5px;

.text-darkColor{
  color: $bg-color;
}
