<section id="students-instr">
  <div class="container">

    <div class="card-students">
      <div class="student-header">
        <mat-tab-group>
          <mat-tab label="All Students">
            <div class="container">
              <div class="row">
                <div class="col-md-6" *ngFor="let student of allStudents">
                  <div class="student-card">
                    <div class="row">
                      <div class="col-md-3">
                        <img
                          src="../../../../../../assets/images/Avatar-Profile-Vector-PNG-Pic.png"
                          class="h-100"
                          alt=""
                        />
                      </div>
                      <div class="col-md-9 p-0">
                        <div>
                          <h5>
                            {{ student.first_name }} {{ student.last_name }}
                          </h5>
                          <p>{{ student.email }}</p>
                          <span *ngIf="student.group" class="span-succes">{{ student.group.name }}</span>
                        </div>
                        <div class="pe-4 fs-4">
                          <a class="pe-1" (click)="openDeleteStudentDialog(student,false,notDeletedGroup)"
                            ><i class="fa-solid fa-trash" style="color: red"></i
                          ></a>
                          <!-- <a><i class="fa-solid fa-circle-arrow-right"></i></a>
                          <a><i class="fa-solid fa-circle-arrow-right"></i></a> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </mat-tab>
          <mat-tab label="Students Without Group">
            <div class="container">
              <div class="row">
                <div class="alert alert-warning my-3" role="alert" *ngIf="studentsGroupName.length ==0">
                  This is a warning No Data Found.
                </div>
                <div
                  class="col-md-6"
                  *ngFor="let student of studentswithoutGroup"
                >
                  <div class="student-card">
                    <div class="row">
                      <div class="col-md-3">
                        <img
                          src="../../../../../../assets/images/Avatar-Profile-Vector-PNG-Pic.png"
                          class="h-100"
                          alt=""
                        />
                      </div>
                      <div class="col-md-9 p-0">
                        <div>
                          <h5>
                            {{ student.first_name }} {{ student.last_name }}
                          </h5>
                          <p>{{ student.email }}</p>
                          <span class="span-succes">{{ student.status }}</span>
                        </div>
                        <div class="pe-4 fs-4">
                          <a class="pe-1" (click)="openDeleteStudentDialog(student,false,notDeletedGroup)"
                            ><i class="fa-solid fa-trash" style="color: red"></i
                          ></a>
                          <a (click)="openAddToGroupDialogue(student)"><i class="fa-solid fa-circle-plus"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Groups" >
            <div class="container">
              <div class="row">
                <div class="student-header">

                  <a *ngFor="let group of allGroups" class=" mx-3 rounded-btn" [ngClass]="group._id==groupData?._id?'btn-sec-active':' btn-secondry'" (click)="getGroupById(group._id)">{{group.name}}</a>

                  <!-- <a class=" btn-sec-active mx-3 btn-secondry">Group 1</a>
                  <a class=" mx-3 btn-secondry">Group 1</a> -->
                </div>
                <div class="alert alert-warning my-3" role="alert" *ngIf="studentsGroupName.length ==0">
                  This is a warning No Data Found - please select or add group.
                </div>
                  <div class="row">
                    <div
                      class="col-md-6"
                      *ngFor="let student of studentsGroupName"
                    >
                      <div class="student-card">
                        <div class="row">
                          <div class="col-md-3">
                            <img
                              src="../../../../../../assets/images/Avatar-Profile-Vector-PNG-Pic.png"
                              class="h-100"
                              alt=""
                            />
                          </div>
                          <div class="col-md-9 p-0">
                            <div>
                              <h5>
                                {{ student.first_name }} {{ student.last_name }}
                              </h5>
                              <p>{{ student.email }}</p>
                            </div>
                            <div class="pe-4 fs-4">
                              <a class="pe-1" (click)="openDeleteStudentDialog(student,true,groupData)"
                                ><i class="fa-solid fa-trash" style="color: red"></i
                              ></a>
                              <a (click)="openUpdateGroupDialog(student)"><i class="fa-solid fa-pen-to-square"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>

          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</section>
