<section id="students-instr">
  <div class="container">
    <div class="mb-3 text-end">
      <a class="btn-secondry" (click)="openAddDialogue()"><i class="fa-solid fa-plus mx-2"></i>Add Student </a>
    </div>
    <div class="card-students">
      <div class="student-header">
        <h4 class="mb-4">Students List</h4>
        <a class="btn-sec-active mx-3 btn-secondry">Group 1</a>
        <a class=" mx-3 btn-secondry">Group 1</a>
        <a class=" mx-3 btn-secondry">Group 1</a>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="student-card">
            <div class="row">
                <div class="col-md-3">
                  <img src="../../../../../../assets/images/Avatar-Profile-Vector-PNG-Pic.png" class="h-100" alt="">
                </div>
                <div class="col-md-9 p-0">
                   <div>
                    <h5>Emmanuel James</h5>
                    <p>12 / 03 / 2023 | 12 / 03 / 2023</p>
                   </div>
                   <div class="pe-4 fs-4">
                    <i class="fa-solid fa-circle-arrow-right"></i>
                   </div>

                </div>
            </div>

        </div>
        <div class="student-card">
            <div class="row">
                <div class="col-md-3">
                    <img src="../../../../../../assets/images/Avatar-Profile-Vector-PNG-Pic.png" class="h-100" alt="">
                </div>
                <div class="col-md-9 p-0">
                    <div>
                     <h5>Emmanuel James</h5>
                     <p>12 / 03 / 2023 | 12 / 03 / 2023</p>
                    </div>
                    <div class="pe-4 fs-4">
                     <i class="fa-solid fa-circle-arrow-right"></i>
                    </div>

                 </div>
            </div>

        </div>
        <div class="student-card">
            <div class="row">
                <div class="col-md-3">
                    <img src="../../../../../../assets/images/Avatar-Profile-Vector-PNG-Pic.png" alt="">
                </div>
                <div class="col-md-9 p-0">
                    <div>
                     <h5>Emmanuel James</h5>
                     <p>12 / 03 / 2023 | 12 / 03 / 2023</p>
                    </div>
                    <div class="pe-4 fs-4">
                     <i class="fa-solid fa-circle-arrow-right"></i>
                    </div>

                 </div>
            </div>

        </div>
        <div class="student-card">
          <div class="row">
              <div class="col-md-3">
                <img src="../../../../../../assets/images/Avatar-Profile-Vector-PNG-Pic.png" class="h-100" alt="">
              </div>
              <div class="col-md-9 p-0">
                 <div>
                  <h5>Emmanuel James</h5>
                  <p>12 / 03 / 2023 | 12 / 03 / 2023</p>
                 </div>
                 <div class="pe-4 fs-4">
                  <i class="fa-solid fa-circle-arrow-right"></i>
                 </div>

              </div>
          </div>

      </div>
        </div>

        <div class="col-md-6">
          <div class="student-card">
            <div class="row">
                <div class="col-md-3">
                  <img src="../../../../../../assets/images/Avatar-Profile-Vector-PNG-Pic.png" class="h-100" alt="">
                </div>
                <div class="col-md-9 p-0">
                   <div>
                    <h5>Emmanuel James</h5>
                    <p>12 / 03 / 2023 | 12 / 03 / 2023</p>
                   </div>
                   <div class="pe-4 fs-4">
                    <i class="fa-solid fa-circle-arrow-right"></i>
                   </div>

                </div>
            </div>

        </div>
        <div class="student-card">
            <div class="row">
                <div class="col-md-3">
                    <img src="../../../../../../assets/images/Avatar-Profile-Vector-PNG-Pic.png" class="h-100" alt="">
                </div>
                <div class="col-md-9 p-0">
                    <div>
                     <h5>Emmanuel James</h5>
                     <p>12 / 03 / 2023 | 12 / 03 / 2023</p>
                    </div>
                    <div class="pe-4 fs-4">
                     <i class="fa-solid fa-circle-arrow-right"></i>
                    </div>

                 </div>
            </div>

        </div>
        <div class="student-card">
            <div class="row">
                <div class="col-md-3">
                    <img src="../../../../../../assets/images/Avatar-Profile-Vector-PNG-Pic.png" class="h-100"  alt="">
                </div>
                <div class="col-md-9 p-0">
                    <div>
                     <h5>Emmanuel James</h5>
                     <p>12 / 03 / 2023 | 12 / 03 / 2023</p>
                    </div>
                    <div class="pe-4 fs-4">
                     <i class="fa-solid fa-circle-arrow-right"></i>
                    </div>

                 </div>
            </div>

        </div>

        <div class="student-card">
          <div class="row">
              <div class="col-md-3">
                <img src="../../../../../../assets/images/Avatar-Profile-Vector-PNG-Pic.png" class="h-100" alt="">
              </div>
              <div class="col-md-9 p-0">
                 <div>
                  <h5>Emmanuel James</h5>
                  <p>12 / 03 / 2023 | 12 / 03 / 2023</p>
                 </div>
                 <div class="pe-4 fs-4">
                  <i class="fa-solid fa-circle-arrow-right"></i>
                 </div>

              </div>
          </div>

      </div>
        </div>
        <nav aria-label="Page navigation example" class="d-flex justify-content-center">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" >1</a></li>
            <li class="page-item"><a class="page-link" >2</a></li>
            <li class="page-item"><a class="page-link" >3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
