ol { padding-left: 20px; }
li { 
  color: #4F4F4F; 
  padding-left: 10px;
  margin-top: 24px;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  
  
}
.mdc-tab__text-label{
  font-weight: 600;
}
