<section id="set-up">
  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="mt-3">
        <h3 *ngIf="isAddQuiz">Set up a new quiz</h3>
        <h3 *ngIf="isEditQuiz">Edit your quiz</h3>
        <h3 *ngIf="isReassignQuiz">Reassign your quiz</h3>
        <h3 *ngIf="isView" >View your quiz</h3>
      </div>
      <div class="truefalse">
        <div (click)="submit(quizForm)"><i class="fa-solid fa-check"></i></div>
        <div (click)="onClose()"><i class="fa-solid fa-x"></i></div>
      </div>
    </div>
    <form class="my-3 pe-3" [formGroup]="quizForm">
      <h5>Details</h5>
      <div class="row">
        <div class="col-md-12">
          <div class="input-group input-group-default mb-3">
            <span class="input-group-text bg" id="inputGroup-sizing-default"
              >Title:</span
            >
            <input
              type="text"
              formControlName="title"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm"
            />
          </div>
          <div
            class="alert alert-danger"
            *ngIf="
              quizForm.get('title')?.touched &&
              quizForm.get('title')?.status == 'INVALID'
            "
          >
            <p>Title is required</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group mb-3">
            <label class="input-group-text bg" for="inputGroupSelect01"
              >Duration <span>(in minutes)</span></label
            >
            <select
              class="form-select"
              id="inputGroupSelect01"
              formControlName="duration"
            >
              <option value="1">1</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
            </select>
          </div>
          <div
            class="alert alert-danger"
            *ngIf="
              quizForm.get('duration')?.touched &&
              quizForm.get('duration')?.status == 'INVALID'
            "
          >
            <p>Duration is required</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group mb-3">
            <label class="input-group-text bg" for="inputGroupSelect01"
              >No. of Questions</label
            >
            <select
              class="form-select"
              id="inputGroupSelect01"
              formControlName="questions_number"
            >
              <option *ngFor="let item of numberQuestions" [ngValue]="item">
                {{ item }}
              </option>
            </select>
          </div>
          <div
            class="alert alert-danger"
            *ngIf="
              quizForm.get('questions_numbers')?.touched &&
              quizForm.get('questions_numbers')?.status == 'INVALID'
            "
          >
            <p>Questions_numbers is required</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group mb-3">
            <label class="input-group-text bg" for="inputGroupSelect01"
              >Score per Question</label
            >
            <select
              class="form-select"
              id="inputGroupSelect01"
              formControlName="score_per_question"
            >
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
            </select>
          </div>
          <div
            class="alert alert-danger"
            *ngIf="
              quizForm.get('score_per_question')?.touched &&
              quizForm.get('score_per_question')?.status == 'INVALID'
            "
          >
            <p>Score_per_question is required</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text bg" id="inputGroup-sizing-lg"
              >Description</span
            >
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="2"
              formControlName="description"
            ></textarea>
          </div>
          <div
            class="alert alert-danger"
            *ngIf="
              quizForm.get('description')?.touched &&
              quizForm.get('description')?.status == 'INVALID'
            "
          >
            <p>Description is required</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="input-group input-group-default mb-3">
            <span class="input-group-text bg" id="inputGroup-sizing-default"
              >Schedule</span
            >
            <div class="form-control">
              <mat-form-field class="w-100">
                <input
                  formControlName="schadule"
                  matInput
                  [matDatepicker]="picker"
                />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div
            class="alert alert-danger"
            *ngIf="
              quizForm.get('schadule')?.touched &&
              quizForm.get('schadule')?.status == 'INVALID'
            "
          >
            <p>schadule is required</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group mb-3">
            <label class="input-group-text bg" for="inputGroupSelect01"
              >Defculty Level</label
            >
            <select
              class="form-select"
              id="inputGroupSelect01"
              formControlName="difficulty"
            >
              <option value="easy">easy</option>
              <option value="medium">medium</option>
              <option value="hard">hard</option>
            </select>
          </div>
          <div
            class="alert alert-danger"
            *ngIf="
              quizForm.get('difficulty')?.touched &&
              quizForm.get('difficulty')?.status == 'INVALID'
            "
          >
            <p>Difficulty is required</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group mb-3">
            <label class="input-group-text bg" for="inputGroupSelect01"
              >Category type</label
            >
            <select
              class="form-select"
              id="inputGroupSelect01"
              formControlName="type"
            >
              <option value="FE">FE</option>
              <option value="BE">BE</option>
              <option value="DO">DO</option>
            </select>
          </div>
          <div
            class="alert alert-danger"
            *ngIf="
              quizForm.get('type')?.touched &&
              quizForm.get('type')?.status == 'INVALID'
            "
          >
            <p>Type is required</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group mb-3">
            <label class="input-group-text bg" for="inputGroupSelect01"
              >Group Name</label
            >
            <select
              class="form-select"
              id="inputGroupSelect01"
              formControlName="group"
            >
              <option [value]="group._id" *ngFor="let group of allGroups">
                {{ group.name }}
              </option>
            </select>
          </div>
          <div
            class="alert alert-danger"
            *ngIf="
              quizForm.get('group')?.touched &&
              quizForm.get('group')?.status == 'INVALID'
            "
          >
            <p>Group is required</p>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
